<!-- local css for body -->

<!-- local css for header -->
<link rel="stylesheet" type="text/css" href="../css/header.css">


<!-- header -->
<div class="nav-bar">
    <a href="" class="back-icon">
        <i class="fa-solid fa-circle-arrow-left" style="color: #b8b8b8;"></i>
    </a>    
    <div class="title">
        CSV Upload
    </div>
    <div class="sub-title">
        Viewer
    </div>
</div>