<link rel="stylesheet" type="text/css" href="../css/home.css">

<div class="container">
    <!-- main text -->
    <div class="center-text">
        <h1>Upload a File Here</h1>
        <p>Reads CSV file and displays its content in tabular form</p>
    </div>

    <!-- upload box -->
    <div class="input-container">
        <input type="file">
        <button class="upload-btn">Upload</button>
    </div>
</div>