<!DOCTYPE html>

<html>

<head>
    <!-- TITLE OF THE PAGE -->
    <title><%=title%></title>
    <!-- FONT AWESOME -->

    <!-- CSS -->

</head>

<body>
    <!-- HEADER -->
    <%- include('_header') %>

    <!-- BODY -->
    <%- body %>

    <!-- FOOTER -->
</body>

</html>