body {
    margin: 0;
    padding: 0;
}

.nav-bar{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 5px 5px 0px  #ddd;
}
.back-icon {
    font-size: 36px;
    padding: 10px;
    margin-left: 20px;
    cursor:pointer;
}
.title {
    font-size: 30px;
    font-family: 'Monospace', Rockwell;
    font-weight: 700;
    color:steelblue;
    padding: 10px;
}
.sub-title {
    font-size: 18px;
    font-family: 'Monospace', Rockwell;
    padding: 10px;
    padding-top: 22px;
    color: #757575;
}