body {
    margin: 0;
    padding: 0;
}

.nav-bar{
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 5px 5px 0px #e6e6e6;
}
.title {
    font-size: 30px;
    font-family: 'Monospace', Rockwell;
    font-weight: 700;
    color:steelblue;
    padding: 10px;
    margin-left: 30px;
}