.body {
    margin:0;
    padding: 0;
}

.center-text h1{
    font-size: 44px;
    font-family: Franklin Gothic Medium ;
    text-align: center;
}
.center-text p {
    font-size: 22px;
    font-family: Franklin Gothic ;
    text-align: center;
    color: gray;
}
.input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 70%;
    height: 250px;
    background-color: rgb(252, 252, 252);
    border: 2px dashed lightgrey;
}
.upload-btn {
    width: 130px;
    height: 40px;
    border: none;
    background-color: #4b88fd;
    color:#fff;
    font-size: 16px;
    border-radius: 7px;
}